.coffee {

    display: flex;
    flex-direction: column;

    @media (min-width: 321px) {
        flex-direction: column;
        flex-wrap: wrap;
        height: 800px;

        align-content: space-between;
    }
}

.category {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @media (min-width: 321px) {
     flex-basis: 50px;
    }

    > h3 {
        font-size: 1.4rem;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        p {
            line-height: 2;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
    }

    &__prices {
        display: flex;
        flex-direction: column;
    }
}

.drinks {
    display: flex;
    flex-direction: column;

    @media (min-width: 321px) {
        flex-direction: column;
        flex-wrap: wrap;
        height: 400px;
        align-content: space-between;
    }
}